.buttonsContainer {
}

.responseContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.imageContainer {
}

.image {
}

.textContainer{
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.code {
}

.text {
}
.info {
}