.App {
    --header_height: 60px;
}

.hw {
    width: 1280px;
    height: 720px;
    padding: 131px 0 216px 0;

}

.hr {
    display: block;
    width: 1280px;
    height: 1px;
}

.hwTitle {
    height: 27px;
    width: 165px;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}