.select {
    width: 180px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #C2C2C2;
    background-color: #C2C2C2;
}

.select:focus {
    border-radius: 2px;
    border: 1px solid #000;
    width: 180px;
    height: 25px;
    flex-shrink: 0;
    background-color: #C2C2C2;
    color: #000;
}

.option:hover {
    color: #000000;
}
